# Base
torch
torchaudio
numpy
requests
tqdm

# Gradio UI
gradio

# Models & Processing
# transformers>=4.30.0 # Keep for NLLB
transformers>=4.30.0
sentencepiece # Keep for NLLB tokenizer
accelerate # Recommended for transformers, helps with device placement
TTS>=0.22.0 # Coqui TTS
soundfile
faster-whisper>=0.10.0 # New STT Engine
